{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
  <main class="site-main section-inner thin animated fadeIn faster">
    <h1>{{ .Title }}</h1>
    <div class="content">
      <p>No as a Service. Every refusal, freshly delivered from the cloud.</p>
      <p>Explore the API: <a href="https://no.thenextbug.com/docs" target="_blank" rel="noopener">no.thenextbug.com/docs</a></p>
      <div id="no-result">
        <p><em>Loading...</em></p>
      </div>
      <button id="no-again">Say that again&hellip;</button>
    </div>
  </main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
